<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Delete contact</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		Do you want delete this item?
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button>
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Ok click')">Ok</button>
	</div>
</ng-template>


<div class="container">
	<div class="row">
		<div class="col-md-1">
			<button type="button" class="btn btn-success" [routerLink]="'new'">New</button>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
					<th scope="col">#</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>
				@for (contact of contacts; track contact.id; let i = $index) {
					<tr>
						<td>
							{{ contact.id }}
						</td>
						<td>
							{{ contact.firstName }}
						</td>
						<td>{{ contact.lastName }}</td>
						<td>{{ contact.email }}</td>
						<td><button type="button" class="btn btn-primary" [routerLink]="[ 'edit', contact.id ]">Edit</button></td>
						<td><button type="button" class="btn btn-danger" (click)="confirmDelete(contact.id, content)">Delete</button></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>